*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr 10fr;
    height: 100vh;
}

.topbar{
    grid-column: 1/-1;
    grid-row: 1;
    background-color: orange;
}

header{
    grid-column: 1;
    grid-row: 2/-1;
    background-color: red;
}

#content{
    grid-row: 2;
    grid-column: 2/3;
    background-color: green;
}